.hero-slider {
  width: 100%;
  height: 400px;
  text-align: center;
  // position: relative;
  background-color: #ddd;
  clear: both;

  @include respond-to(sm) {
    height: 420px;
  }

  @include respond-to(md) {
    height: 100vh;
    position: relative;
  }

  .mask {
    display: block;
    overflow: hidden;
    //  position: relative;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
    position: relative;
  }

  .hero-slide {
    z-index: 200;
    opacity: 1;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 400px;
    //  position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    @include respond-to(sm) {
      height: 420px;
    }

    @include respond-to(md) {
      height: 100vh;
    }
  }

  &__overlay {
    padding: 41px 45px 0 45px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;

    @include respond-to(lg) {
      padding: 1px 35px 0 35px;
    }

    .hero-slider-container {
      padding: 0 45px;
      position: absolute;
      top: 35%;
      left: 0;
      right: 0;

      .intro-title {
        font-family: "Satisfy";
        color: $brand-color;
        font-size: 17px;
        margin-bottom: 7px;
        text-align: center;
        text-shadow: 90deg, 6px rgba(0, 0, 0, 0.2);

        @include respond-to(sm) {
          font-size: 22px;
        }

        @include respond-to(lg) {
          font-size: 26px;
          margin-bottom: 14px;
        }
      }

      .slide-title {
        font-family: $heading-font;
        font-weight: 700;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 90deg, 6px rgba(0, 0, 0, 0.2);

        @include respond-to(sm) {
          font-size: 45px;
        }

        @include respond-to(md) {
          font-size: 65px;
        }

        @include respond-to(lg) {
          font-size: 95px;
          line-height: 90px;
        }
      }

      .bottom-title {
        margin: 15px 0 14px 0;
        font-family: $heading-font;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;

        @include respond-to(sm) {
          font-size: 20px;
        }

        @include respond-to(md) {
          font-size: 26px;
        }

        @include respond-to(lg) {
          font-size: 36px;
          line-height: 50px;
          margin: 15px 0 30px 0;
        }
      }

      div {
        @include respond-to(sm) {
          display: flex;
          justify-content: center;
        }

        .top-button {
          margin-top: 8px;
          margin-right: auto;
          padding: 4px 15px;
          width: 100%;
          font-family: $heading-font;
          font-size: 12px;
          line-height: 30px;
          color: #fff;
          text-transform: uppercase;
          background-color: $brand-color;
          border: none;
          cursor: pointer;
          transition-duration: 0.4s;

          @include respond-to(sm) {
            margin: 10px 8px 0 8px;
            padding: 4px 25px;
            border-radius: 3px;
            width: auto;
          }

          @include respond-to(lg) {
            line-height: 40px;
          }

          &:hover {
            background-color: #fff;
            color: $brand-color;

            a {
              color: #000;
            }
          }

          a {
            color: #fff;
          }
        }

        .bottom-button {
          margin-top: 8px;
          margin-right: auto;
          padding: 4px 15px;
          width: 100%;
          font-family: $heading-font;
          font-size: 12px;
          line-height: 30px;
          color: #fff;
          text-transform: uppercase;
          background-color: #2b2825;
          border: none;
          cursor: pointer;
          transition-duration: 0.4s;

          @include respond-to(sm) {
            margin: 10px 6px 0 0;
            padding: 4px 25px;
            border-radius: 3px;
            width: auto;
            // line-height: 30px;
          }

          &:hover {
            background-color: $brand-color;
          }

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.about-hero {
  background-position: 50% 100%;
  background-size: cover;
  &__overlay {
    padding: 110px 25px 35px 25px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.29);

    @include respond-to(sm) {
      padding: 120px 35px 50px 35px;
    }

    @include respond-to(md) {
      padding: 90px 35px;
    }

    @include respond-to(lg) {
      padding: 145px 0;
    }

    .about-container {
      .section-block {
        margin: 0 auto 1px auto;
        width: 100%;

        @include respond-to(sm) {
          margin: 0 auto;
        }

        @include respond-to(lg) {
          width: 70%;
        }

        .hero-title {
          margin: 0px 0px 10px 0px;
          font-family: $heading-font;
          font-weight: 700;
          font-size: 26px;
          line-height: 28px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;

          @include respond-to(sm) {
            font-size: 35px;
            line-height: 36px;
          }

          @include respond-to(lg) {
            font-size: 62px;
            line-height: 66px;
          }
        }

        .hero-subtitle {
          margin: 1px 0 0 0;
          font-family: $heading-font;
          font-weight: 400;
          font-size: 15px;
          line-height: 14px;
          color: #c7b9a9;
          text-align: center;
          text-transform: uppercase;

          @include respond-to(sm) {
            font-size: 18px;
            margin: 5px 0 9px 0;
            line-height: 21px;
          }

          @include respond-to(md) {
            font-size: 22px;
          }

          @include respond-to(lg) {
            margin: 5px 0 15px 0;
          }
        }
      }
    }
  }
}

.menu-hero {
  background-position: 50% 100%;
  background-size: cover;
  position: relative;

  &__overlay {
    padding: 115px 25px 95px 25px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.29);

    @include respond-to(md) {
      padding: 95px 35px 165px 35px;
    }

    @include respond-to(lg) {
      padding: 145px 0;
    }

    .menu-hero-container {
      &--block {
        margin: 0 auto 1px auto;
        width: 100%;

        @include respond-to(md) {
          margin: 0 auto;
        }

        @include respond-to(lg) {
          margin: 0 auto;
          width: 70%;
        }

        .title {
          margin-bottom: 10px;
          font-family: $heading-font;
          font-size: 26px;
          font-weight: 700;
          color: #fff;
          text-transform: uppercase;
          text-align: center;

          @include respond-to(md) {
            font-size: 35px;
          }

          @include respond-to(lg) {
            font-size: 62px;
          }
        }

        .sub-title {
          margin-top: 1px;
          font-family: $heading-font;
          font-size: 15px;
          color: #c7b9a9;
          text-transform: uppercase;
          text-align: center;
          font-weight: 400;

          @include respond-to(md) {
            font-size: 22px;
            margin: 5px 0 15px 0;
          }
        }
      }
    }
  }
}

.gallery-hero {
  background-position: 50% 100%;
  background-size: cover;

  &__overlay {
    position: relative;
    padding: 110px 25px 35px 25px;
    background-color: rgba(0, 0, 0, 0.29);

    @include respond-to(sm) {
      padding: 120px 35px 50px 35px;
    }

    @include respond-to(md) {
      padding: 90px 35px;
    }

    @include respond-to(lg) {
      padding: 145px 35px;
    }

    &--container {
      .intro-block {
        margin: 0 auto 1px auto;

        @include respond-to(sm) {
          margin: 0 auto;
        }

        @include respond-to(md) {
          width: 90%;
        }

        @include respond-to(lg) {
          width: 70%;
        }

        .title {
          margin: 0 0 10px 0;
          font-family: $heading-font;
          font-weight: 700;
          font-size: 26px;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          line-height: 28px;

          @include respond-to(sm) {
            font-size: 35px;
            line-height: 36px;
          }

          @include respond-to(lg) {
            font-size: 62px;
            line-height: 66px;
          }
        }

        .sub-title {
          margin: 1px 0 0 0;
          font-family: $heading-font;
          font-weight: 400;
          font-size: 15px;
          color: #c7b9a9;
          text-align: center;
          text-transform: uppercase;
          line-height: 14px;

          @include respond-to(sm) {
            font-size: 18px;
          }

          @include respond-to(lg) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
